{name, "rabbitmq_client"}.
{description, "RabbitMQ Erlang AMQP client"}.
{homepage, "http://www.rabbitmq.com/"}.
{license, "Mozilla Public License 1.1"}.
{url, {all, 
        [{"rabbitmq-server", {git, "https://github.com/rabbitmq/rabbitmq-server.git", {tag, "rabbitmq_v2_2_0"}}},
         {"rabbitmq-codegen", {git, "https://github.com/rabbitmq/rabbitmq-codegen.git", {tag, "rabbitmq_v2_2_0"}}},
         {"rabbitmq-erlang-client", {git, "https://github.com/rabbitmq/rabbitmq-erlang-client.git", {tag, "rabbitmq_v2_2_0"}}}
        ]
      }}.
{build_command, "cd rabbitmq-erlang-client && make && ln -Fs rabbitmq-erlang-client/ebin ../ebin && ln -Fs rabbitmq-erlang-client/include ../include && cp ../rabbitmq-server/ebin/*.app ../rabbitmq-server/ebin/*.beam ../ebin/"}.
{applications, [amqp_client]}.
